

<div class="container-fluid bg-primary py-5" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1 class="display-4 text-white">About Us</h1>
            <a class="h5 text-white" asp-controller="Home" asp-action="Index">Home ></a>
            <a href="" class="h5 text-white">About</a>
        </div>
    </div>
</div>



<style>
    .py-5 {
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      
        width: 100%;
    }

    .container-fluids{
        width: 90%;
        margin:auto;
    }
</style>
<div class="container-fluids py-5 slide-up">
    <div class="container-fluids py-5">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="section-title mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">About Us</h5>
                    <h2>Caring with Compassion and Commitment</h2>
                </div>
                <h5 class="mb-4">
                    At Siddhi Eye Care Center, we are a dedicated team of passionate individuals, united by a shared commitment to excellence in eye care and aesthetics. With years of experience and expertise, we have built a clinic where quality meets compassion—our core philosophy and guiding principle in everything we do.
                    Our mission is to provide personalized, top-notch care that delivers the best possible visual outcomes for each and every patient. We understand that your vision and appearance are crucial aspects of your well-being, which is why we blend the latest technologies with a human touch, ensuring you feel supported and cared for every step of the way.
                </h5>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"> Prompt Service :</i>
                            We respect your time. Our efficient processes and dedicated team ensure there are no long queues, and you receive quick, hassle-free service without compromising on care.
                        </h5>
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3">Reasonable Rates:</i> High-quality eye care should be accessible to all. We offer affordable services without sacrificing the standards of care or the personalized attention you deserve.
                        </h5>
                    </div>
                    <div class="col-sm-12">
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3">No Compromise in Patient Care:</i> We take pride in offering a meticulous, patient-first approach. Whether it's a routine eye exam or a complex surgical procedure, we prioritize your comfort, safety, and long-term health.
                        </h5>
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3">Personalized Attention:</i> Every patient is unique, and so is their care. We work closely with you to understand your individual needs and craft treatment plans that are tailored to bring out the best in your vision and overall eye health.
                        </h5>
                    </div>
                </div>
                <div class="d-flex align-items-center ">
                    @*    <div class="bg-primary d-flex align-items-center justify-content-center rounded-circle" style="width: 60px; height: 60px; margin-right: 2px;">
                    <i class="fa fa-phone"></i>
                    </div> *@
                    <div>
                        <h5>
                            Our team is driven by the goal of improving lives through better vision and aesthetics. We are constantly evolving, learning, and incorporating the latest advances in the field of eye care, so you can always trust that you're receiving cutting-edge treatment in a warm and welcoming environment.
                            At Siddhi Eye Care Centre , we strive to promote quality healthcare, improve your condition, and enhance your quality of life. We look forward to being a part of your journey towards better eye health and well-being.
                        </h5>
                        @* <h4 class="text-primary mb-0">+977 9804161801</h4> *@
                    </div>
                </div>
                @* <a href="tel:9861-174-305" class="btn btn-primary py-3 px-5 mt-3">Call Now</a> *@
            </div>
            <div class="col-lg-6 p-2" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="~/img/about.jpeg" alt="doc-img" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
