

<div class="container-fluid bg-primary py-5" style="margin-bottom: 60px;">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1 class="display-4 text-white">Our Service</h1>
            <a class="h5 text-white" asp-controller="Home" asp-action="Index">Home ></a>
            <a href="" class="h5 text-white">OurService</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 90%;">
            <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
            <h5 class="mb-0">At Siddhi Eye Care Center, we are dedicated to providing top-tier eye care services with cutting-edge technology and experienced professionals. Here are some of the specialized services we offer:</h5>
        </div>
        <div class="row g-5 ">

            <div class="row flex-lg-row-reverse g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0">
                        <h3 class="mb-0 mt-5">Complete Vision Assessment</h3>
                    </div>
                    <p class="mb-4">We offer a thorough vision assessment using advanced diagnostic equipment and highly trained personnel. Our comprehensive approach ensures accurate detection of vision issues, providing a personalized plan to improve your sight and overall eye health. From basic vision screenings to in-depth eye exams, we ensure you receive the best possible care</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Eye Check-Up" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>

            <div class="row g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0 ">
                        <h3 class="mb-0 mt-5">
                            Pediatric Vision Assessment
                        </h3>
                    </div>
                    <p class="mb-4">Your child’s vision is in the best hands with our pediatric vision specialists. Our team is specially trained to handle young patients with care and expertise, using child-friendly methods and equipment. We aim to detect any early eye problems and provide timely treatments, ensuring the best possible outcome for your child’s vision development</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Cataract Surgery" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>



            <div class="row flex-lg-row-reverse g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0">
                        <h3 class="mb-0 mt-5">Cataract Surgery</h3>
                    </div>
                    <p class="mb-4">Our cataract surgery service provides optimal results thanks to our experienced surgeons and premium intraocular lenses. Using state-of-the-art technology, we ensure minimal recovery time and excellent visual outcomes. Whether you need standard or advanced multifocal lenses, we prioritize restoring your vision to its fullest potential.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Eye Check-Up" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>

            <div class="row g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0 ">
                        <h3 class="mb-0 mt-5">
                            Retina Services
                        </h3>
                    </div>
                    <p class="mb-4">We offer comprehensive diagnosis and treatment for a variety of retinal diseases, including macular degeneration, diabetic retinopathy, and retinal vein occlusions. With the latest imaging and diagnostic tools, we accurately assess retinal health and provide effective treatment plans.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Cataract Surgery" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>



            <div class="row flex-lg-row-reverse g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0">
                        <h3 class="mb-0 mt-5">Retinal Surgery</h3>
                    </div>
                    <p class="mb-4">Our skilled retinal surgeon is experts in performing delicate retinal surgeries for conditions such as retinal detachments, macular holes, and epiretinal membranes. With years of experience and precision techniques, our team aims to deliver the best surgical outcomes, ensuring your long-term eye health.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Eye Check-Up" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>

            <div class="row g-5 slide-up mb-5">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0 ">
                        <h3 class="mb-0 mt-5">
                            Retinal Lasers
                        </h3>
                    </div>
                    <p class="mb-4">We provide advanced retinal laser treatments to manage conditions like diabetic retinopathy and retinal tears. These minimally invasive laser procedures are designed to halt disease progression and protect your vision.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Cataract Surgery" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>



            <div class="row flex-lg-row-reverse g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0">
                        <h3 class="mb-0 mt-5">DCR Surgery</h3>
                    </div>
                    <p class="mb-4">For patients experiencing excessive tearing due to blocked tear ducts, we offer Dacryocystorhinostomy (DCR) surgery. Our experienced surgeons utilize advanced techniques to create a new drainage pathway, ensuring comfort and long-term relief from chronic tearing.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Eye Check-Up" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>

            <div class="row g-5 slide-up mb-5">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0 ">
                        <h3 class="mb-0 mt-5">
                            Aesthetic Eyelid Surgery
                        </h3>
                    </div>
                    <p class="mb-4">Whether it’s to improve function or appearance, our aesthetic eyelid surgeries are tailored to meet your specific needs. Our skilled surgeons perform eyelid corrections for drooping lids, excess skin, or cosmetic improvements, ensuring both enhanced appearance and optimal function.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Cataract Surgery" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>



            <div class="row flex-lg-row-reverse g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0">
                        <h3 class="mb-0 mt-5">Blepharoplasty</h3>
                    </div>
                    <p class="mb-4">Blepharoplasty, or eyelid surgery, is offered for patients seeking to rejuvenate their facial appearance. We expertly remove excess skin and fat from the eyelids, restoring a more youthful and refreshed look, while also improving vision if droopy eyelids are obstructing sight.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Eye Check-Up" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>

            <div class="row g-5 slide-up mb-5">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0 ">
                        <h3 class="mb-0 mt-5">
                            Botox & Fillers: Facial Rejuvenation
                        </h3>
                    </div>
                    <p class="mb-4">We offer non-surgical facial rejuvenation treatments using Botox and dermal fillers to reduce wrinkles and restore volume. Whether you’re looking to smooth out fine lines or enhance facial contours, our skilled professionals will provide a refreshed and natural look.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Cataract Surgery" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>

            <div class="row flex-lg-row-reverse g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0">
                        <h3 class="mb-0 mt-5">Squint Surgery</h3>
                    </div>
                    <p class="mb-4">Our specialized squint correction surgery aims to improve both eye alignment and vision for patients of all ages. We utilize advanced techniques to correct strabismus (misaligned eyes) and restore proper eye function and appearance.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Eye Check-Up" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>

            <div class="row g-5 slide-up mb-5">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0 ">
                        <h3 class="mb-0 mt-5">
                            Ptosis Surgery
                        </h3>
                    </div>
                    <p class="mb-4">Ptosis, or drooping of the upper eyelid, can affect both appearance and vision. Our expert surgeons perform ptosis correction surgery to restore the eyelid's normal position, improving vision and giving a more youthful look. We are experienced in both congenital and acquired ptosis cases, ensuring the best functional and aesthetic outcomes for our patients.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Cataract Surgery" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>



            <div class="row flex-lg-row-reverse g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0">
                        <h3 class="mb-0 mt-5">Spectacles</h3>
                    </div>
                    <p class="mb-4">We offer a wide selection of eyewear, from budget-friendly options to premium designer frames. Our lenses include single vision, bifocals, and progressive lenses, catering to your specific needs. Whether you need prescription glasses, reading glasses, or blue-light blocking lenses, we provide the perfect fit for every face and budget.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Eye Check-Up" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>

            <div class="row g-5 slide-up mb-5">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0 ">
                        <h3 class="mb-0 mt-5">
                            Contact Lenses
                        </h3>
                    </div>
                    <p class="mb-4">Our clinic provides a variety of contact lenses, including daily, monthly, and toric lenses for astigmatism. We also offer multifocal lenses for those needing both near and far vision correction. Our optometrists will guide you through the selection process, ensuring the best comfort, vision clarity, and fit for your eyes.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Cataract Surgery" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>





            <div class="row flex-lg-row-reverse g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0">
                        <h3 class="mb-0 mt-5">Prosthetic Eyes</h3>
                    </div>
                    <p class="mb-4">For patients who have lost an eye due to injury, disease, or surgery, we offer custom-made prosthetic eyes. These prosthetic eyes not only restore the appearance of the eye but also significantly boost self-confidence. Our team works closely with you to ensure the best aesthetic match and comfort.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Eye Check-Up" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>

            <div class="row g-5 slide-up mb-5">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0 ">
                        <h3 class="mb-0 mt-5">
                            Sunglasses
                        </h3>
                    </div>
                    <p class="mb-4">We carry a wide range of high-quality sunglasses to protect your eyes from harmful UV rays. Our collection includes both prescription and non-prescription sunglasses, in styles ranging from casual to designer. Whether for fashion, protection, or vision correction, our sunglasses ensure your eyes stay safe while looking great.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Cataract Surgery" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>



            <div class="row flex-lg-row-reverse g-5 mb-5 slide-up">
                <div class="col-lg-6 mt-4">
                    <div class="section-title position-relative pb-3 mb-0">
                        <h3 class="mb-0 mt-5">Community Services</h3>
                    </div>
                    <p class="mb-4">We believe in giving back to the community through regular eye screening camps at schools, workplaces, and community centers. Our goal is to raise awareness about eye health and detect vision problems early. We also organize charity eye camps where we provide free or subsidized eye care services for underserved populations. If you are a social organization or NGO interested in partnering with us to host an eye camp, please feel free to contact us.</p>
                </div>
                <div class="col-lg-6 my-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Eye Check-Up" src="./css/2.png" style="object-fit: contain;">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
