
<style>
	.py-5 {
		padding-bottom: 3rem !important;
		padding-top: 3rem !important;
	}

	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		margin-left: auto;
		margin-right: auto;
		padding-left: var(--bs-gutter-x, .75rem);
		padding-right: var(--bs-gutter-x, .75rem);
		width: 100%;
	}

</style>
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">About Us</h5>
                    <h2>Caring with Compassion and Commitment</h2>
                </div>
                <p class="mb-4">
                    At Siddhi Eye Care Center, 
                    we are a dedicated team of passionate individuals,
                    united by a shared commitment to excellence in eye care and aesthetics. 
                    With years of experience and expertise, 
                    we have built a clinic where quality meets compassion—our core philosophy 
                    and guiding principle in everything we do.
                </p>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i> Prompt Service
                        </h5>
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i> No Compromise in Patient Care
                        </h5>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i> Reasonable Rates
                        </h5>
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i> Personalized Attention
                        </h5>
                    </div>
                </div>
                <div class="d-flex align-items-center ">
                 @*    <div class="bg-primary d-flex align-items-center justify-content-center rounded-circle" style="width: 60px; height: 60px; margin-right: 2px;">
                        <i class="fa fa-phone"></i>
                    </div> *@
                    <div>
                         <h5 class="">Call to ask any question</h5> 
                        <h4 class="text-primary mb-0">+977 9804161801</h4>
                    </div>
                </div>
                @* <a href="tel:9861-174-305" class="btn btn-primary py-3 px-5 mt-3">Call Now</a> *@
            </div>
            <div class="col-lg-5 p-2" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="~/img/about.jpeg" alt="doc-img" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
