<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Carousel</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .carousel-item {

             height: 600px; 
            background-size: cover;
            background-position: center;
        }

        .carousel-caption {
            position: absolute; /* Position the caption absolutely */
            top: 55%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Adjust positioning */
            text-align: center; /* Center text inside the caption */
            opacity: 0; /* Initially hide captions */
            transition: opacity 0.5s ease-in-out; /* Transition for fade effect */
        }

        .carousel-item.active .carousel-caption {
            opacity: 1; /* Show caption on active slide */
        }


    </style>
</head>
<body>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');">
                <div class="carousel-caption text-center">
                    <h5>First Slide Text</h5>
                    <a href="#" class="btn btn-primary">Button 1</a>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://mdbootstrap.com/img/new/standard/city/041.jpg');">
                <div class="carousel-caption text-center">
                    <h5>
                        Dristi Eye Center
                        
                    </h5>
                    <h1>
                        Innovative
                        Eye Center in KTM.
                    </h1>
                    <a href="#" class="btn btn-primary">Button 2</a>
                </div>
            </div>
            <div class="carousel-item" style="
            background-image: url('https://mdbootstrap.com/img/new/fluid/nature/015.jpg');">
                <div class="carousel-caption text-center">
                    <h5>Third Slide Text</h5>
                    <a href="#" class="btn btn-primary">Button 3</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
               .carousel-caption {
            opacity: 0; /* Initially hide captions */
            transition: opacity 0.5s ease -in -out; /* Transition for fade effect */
        }

        .carousel-item.active.carousel-caption {
            opacity: 1; /* Show caption on active slide */
        }

    </script>

</body>
</html>
