

<div class="container-fluid bg-primary py-5" style="margin-bottom: 60px;">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1 class="display-4 text-white">Meet The Team</h1>
            <a class="h5 text-white" asp-controller="Home" asp-action="Index">Home ></a>
            <a href="" class="h5 text-white">Meet The Team</a>
        </div>
    </div>
</div>





<div class="container py-5">
    <div class="row flex-lg-row-reverse g-5">
        <div class="col-lg-6">
            <div class="section-title position-relative pb-3 mb-5">
                <h5 class="fw-bold text-primary text-uppercase">About</h5>
                <h1 class="mb-0">DR BIPISHA SHRESTHA</h1>
            </div>
            <p class="mb-4">Dr. Bipisha Shrestha is a highly skilled and experienced surgeon, known for her excellent clinical acumen. She completed her post-graduate studies at the prestigious B.P. Koirala Institute of Health Sciences (BPKIHS) and subsequently served in various consultant positions across Nepal.</p>
            <p class="mb-4">
                Dr. Shrestha has received extensive training in advanced phacoemulsification (phaco) surgery under the mentorship of the country’s leading experts. She completed her Vitreo-Retinal Fellowship at B.P. Koirala Lions Centre for Ophthalmic Studies (BPKLCOS), Kathmandu, and Mechi Eye Hospital (MEH), Birtamode. Additionally, she underwent specialized training in Retinopathy of Prematurity (ROP) at the renowned Shroff Charity Eye Hospital in Delhi.
                With significant expertise in cataract surgeries, particularly with premium, high-end lenses, Dr. Shrestha is also highly experienced in treating a wide range of retinal diseases like Diabetes and Hypertesion associated Retinopathy, ARMD. She is especially passionate about ROP screening and management, dedicating her efforts to advancing care in this critical field.
            </p>
        </div>
        <div class="col-lg-6" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" alt="Dr. Rohit Saiju" src="/static/rohit-7b4db96290e28b9880e49c0e7183749f.webp" style="object-fit: contain;">
            </div>
        </div>
    </div>
</div>


<div class="container  py-5">
    <div class="row g-5">
        <div class="col-lg-6">
            <div class="section-title position-relative pb-3 mb-5">
                <h5 class="fw-bold text-primary text-uppercase">About</h5>
                <h1 class="mb-0">Dr Aditya Prasad</h1>
            </div>
            <p class="mb-4">Dr. Aditya Prasad is an exceptional surgeon and clinician. He earned his MD from the esteemed B.P. Koirala Institute of Health Sciences (BPKIHS) and went on to complete a comprehensive fellowship at Mechi Eye Hospital (MEH), Birtamode. He further specialized with a fellowship in Oculoplasty and Aesthetics at the B.P. Koirala Lions Centre for Ophthalmic Studies (BPKLCOS), Kathmandu, followed by advanced training in Ocular Oncology and Oculoplasty at the prestigious Shroff Charity Eye Hospital, Delhi.</p>
            <p class="mb-4">
                With extensive experience in phacoemulsification (phaco) and other anterior segment surgeries, Dr. Aditya is passionate about oculoplasty and facial aesthetics. He regularly performs a variety of procedures, including eyelid blepharoplasties, Botox injections, dermal fillers, and facial rejuvenation surgeries. He is also skilled in lacrimal surgeries, such as endoscopic DCR, and orbital surgeries, including orbital fracture repair. Additionally, Dr. Aditya provides comprehensive treatment for ocular oncology cases.
            </p>
        </div>
        <div class="col-lg-6" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img loading="lazy" class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" alt="Dr. Rohit Saiju" src="/static/rohit-7b4db96290e28b9880e49c0e7183749f.webp" style="object-fit: contain;">
            </div>
        </div>
    </div>
</div>